* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

main {
  flex-grow: 1;
}
#main {
  background-color: aliceblue;
  border: 3px solid black;
  

  display: flex;
  flex-direction: column;
}
#main > p {
  text-align: center;
}
table {
  border: 2px solid blue;
  margin: auto;
}
tr,
td {
  padding: 2%;
}

header,
footer {
  padding: 30px;
}
