/**
 * represantion is:
 * Nikita sigalov: 321953390
 * Razi Kabiya: 211756630
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
}

.Book {
  display: flex;
}

.btns {
  display: flex;
}

.btn {
  margin: 0 auto;
}

li>div {
  width: 50%;

  border: 1px solid blue;

}

.Person_Phone {
  margin: auto;
}

/* .person_name {
  margin: 10%;
}

.Book>div {
  margin: 3%;
  border: 1px solid red;
}

.btns {
  margin-left: 11%;
  border: 1px solid black;
} */


body {
  flex-direction: column;
  height: 100%;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

main {
  flex-grow: 1;
}

#main {
  background-color: aliceblue;
}

header,
footer {
  padding: 30px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}